<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Hunter Rancourt's Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300' rel='stylesheet' type='text/css'>
    <style>
        .is-collapsed {
            display: none;
        }
    </style>
</head>
<body>
    <div>
        <header>
            <div class="avatar"></div>
            <h1>Hunter Rancourt</h1>
            <p>Location: Minneapolis, MN, USA</p>
        </header>
        <main>
            <div class="background">
                <h2>Bio</h2>
                <p>I've been slowly learning webdesign over the past 5 years or so.</p>
                <p>I recengly attended a bootcamp to help push my development skills up to a marketable level.</p>
            </div>
            <div class="goals">
                <h2>Goals</h2>
                <a class="view-more">Hide</a>
                <div class="goals-content">
                    <p>I want to master the process of building web sites and increase my knowledge, skills and abilities in:</p>
                    <ul>
                        <li>Webpack</li>
                        <li>Angular2</li>
                        <li>TypeScript</li>
                    </ul>
                    <p>I'd like to work in an environment that inspires me and my coworkers to always improve our work and ourselves.</p>
                </div>
            </div>
        </main>
        <footer>
            <ul>
                <li>
                    <a href="#">LinkedIn</a>
                </li>
                <li>
                    <a href="#">Github</a>
                </li>
            </ul>
            <p>Copyright 2017, Hunter Rancourt</p>
        </footer>
    </div>
</body>
</html>